*.html linguist-detectable=false
*.py linguist-detectable=true
Transportation[[:space:]]Flow[[:space:]]Analysis/data/input/database.db filter=lfs diff=lfs merge=lfs -text
Transportation[[:space:]]Flow[[:space:]]Analysis/data/output/map.html filter=lfs diff=lfs merge=lfs -text
data/input/database.db filter=lfs diff=lfs merge=lfs -text
data/output/map.html filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
